.header p {
	font-size: 24px;
}
.banner {
	background-image: url("https://tiy-learn-content.s3.amazonaws.com/7c5e124a-banner.jpg");
	background-size: cover;
}

.body {
	text-align: center;
	height: 75px;
}
